[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/IvanPostu/raylib.git
[submodule "external/raygui"]
	path = external/raygui
	url = https://github.com/IvanPostu/raygui.git
